<app-page-home></app-page-home>
<div class="container-fluid">
    <div class="row center-items">
        <div class="col-md-12 center-items">
            <br />
            <br />

            <div class="container">
                
                <div class="row text-center">
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                    <div class="col-md-12">
                        <h3>Configura tu marcaciones</h3>
                    </div>
                    <div class="col-md-12">
                        <p>Elige una forma de marcación para iniciar</p>
                    </div>
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <ul
                            class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list center-items">
                            <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                                <a class="d-block text-dark text-decoration-none" href="">
                                    <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                                        <i class="bi bi-fingerprint"></i>
                                    </div>
                                    <div class="name text-muted text-decoration-none text-center pt-1">
                                        <small>Huella</small>
                                    </div>
                                </a>
                            </li>
                            <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                                <a class="d-block text-dark text-decoration-none" href="">
                                    <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                                        <i class="bi bi-person-bounding-box"></i>
                                    </div>
                                    <div class="name text-muted text-decoration-none text-center pt-1">
                                        <small>
                                            Face ID
                                        </small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="col-sm-12">
                        <ul
                            class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list center-items">
                            <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                                <a class="d-block text-dark text-decoration-none" href="">
                                    <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                                        <i class="bi bi-person-circle"></i>
                                    </div>
                                    <div class="text-muted text-decoration-none text-center pt-1">
                                        <small>Login</small>
                                    </div>
                                </a>
                            </li>
                            <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                                <a class="d-block text-dark text-decoration-none" href="">
                                    <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                                        <i class="bi bi-person-lines-fill"></i>
                                    </div>
                                    <div class="text-muted text-decoration-none text-center pt-1">
                                        <small>Tarjeta</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            <br />
            <br />

        </div>
    </div>


</div>