<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurar marcación</title>
</head>
<body>
    
    <div class="container-fluid border-shadow">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-3 text-center center-left">
                        <a><i class="bi bi-chevron-left"></i></a>
                    </div>
                    <div class="col-6 text-center center-items">
                        <h1 class="font-weight-bold">LOGO</h1>
                    </div>
                    <div class="col-3 text-center center-right">
                        <a><i class="bi bi-list"></i></a>
                    </div>
                </div>
            </div>            
        </header>
    </div>
    
    <br/>


    <div class="container">
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
            <div class="col-12">
                <h3>Configura tu marcación</h3>
            </div>
            <div class="col-12">
                <p>Elige una forma de marcación para iniciar</p>
            </div>
            <div class="col-12">
                &nbsp;
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list center-items">
                <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                    <a class="d-block text-dark text-decoration-none" href="">
                        <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                            <i class="bi bi-fingerprint"></i>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">
                            <small>Huella</small>
                        </div>
                    </a>
                </li>
                <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                    <a class="d-block text-dark text-decoration-none" href="">
                        <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                            <i class="bi bi-person-bounding-box"></i>
                        </div>
                        <div class="name text-muted text-decoration-none text-center pt-1">
                            <small>
                                Face ID
                            </small>
                        </div>
                    </a>
                </li>
            </ul>
            </div>
            <div>
                &nbsp;
                &nbsp;
            </div>
            <div class="col-sm-12">
                <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list center-items">
                    <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                        <a class="d-block text-dark text-decoration-none" href="">
                            <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="text-muted text-decoration-none text-center pt-1">
                                <small>Login</small>
                            </div>
                        </a>
                    </li>
                    <li class="col mb-4" data-tags="number numeral" data-categories="shapes">
                        <a class="d-block text-dark text-decoration-none" href="">
                            <div class="p-3 py-4 mb-2 bg-color5 text-center rounded box-shadow1">
                                <i class="bi bi-person-lines-fill"></i>
                            </div>
                            <div class="text-muted text-decoration-none text-center pt-1">
                                <small>Tarjeta</small>
                            </div>
                        </a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
  
    <br/>
    <br/>
    
      


    <div class="container-fluid border-shadow">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <small>Desarrollado por ADCODE</small>
                    </div>
                    <div class="col-sm-6 text-right">
                        <small>v. 1.0.0</small>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>