<app-menu></app-menu>

<div class="separator">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-txtFiltro">
            <form id="form1" name="form1" #form="ngForm">
                <div class="form_container">
                    <div class="input_wrap">
                        <input class="txtFiltro" type="text" class="form-control pn-input" name="txtFiltros"  placeholder="Ingresa un nombre o documento de identidad + Enter" >
                    </div>
                    
                </div>
            </form>
            
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="pn-card">
                <div class="pn-card-det">
                    <div class="pn-foto">
                        <img src="https://i.imgur.com/9gZ8wwv.png">
                    </div>
                    <div class="pn-content">
                        <div class="document">
                            <span>43128569</span>
                        </div>
                        <div class="name">
                            <span>Bastian Ernesto</span>
                        </div>
                        <div class="lastname">
                            <span>Aguero Martinez</span>
                        </div>
                        
                        
                    </div>
                    <div class="pn-ctn-active">
                        <div class="item-active">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pn-card">
                <div class="pn-card-det">
                    <div class="pn-foto">
                        <img src="https://i.imgur.com/9gZ8wwv.png">
                    </div>
                    <div class="pn-content">
                        <span class="document">43128569</span>
                        <br>
                        <span class="name">Mari Lopez</span>
                    </div>
                    <div class="pn-ctn-active">
                        <div class="item-active">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pn-card">
                <div class="pn-card-det">
                    <div class="pn-foto">
                        <img src="https://i.imgur.com/9gZ8wwv.png">
                    </div>
                    <div class="pn-content">
                        <span class="document">43128569</span>
                        <br>
                        <span class="name">Mari Lopez</span>
                    </div>
                    <div class="pn-ctn-active">
                        <div class="item-active">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pn-card">
                <div class="pn-card-det">
                    <div class="pn-foto">
                        <img src="https://i.imgur.com/9gZ8wwv.png">
                    </div>
                    <div class="pn-content">
                        <span class="document">43128569</span>
                        <br>
                        <span class="name">Mari Lopez</span>
                    </div>
                    <div class="pn-ctn-active">
                        <div class="item-active">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pn-card">
                <a href="">
                    <div class="pn-card-det">
                        <div class="pn-foto">
                            <img src="https://i.imgur.com/9gZ8wwv.png">
                        </div>
                        <div class="pn-content">
                            <span class="document">43128569</span>
                            <br>
                            <span class="name">Angel Alonso</span>
                            <br>
                            <span class="lastname"> Aguero Vilchez</span>
                        </div>
                        <div class="pn-ctn-active">
                            <div class="item-active">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<!--Botones-->
<div class="container">
    <div class="row">
        <div class="col-md-6" style="left: 25%;">
            <div class="main-botones">
                <div class="main-botones-det">
                    <a href="#">
                        <i class="bi bi-plus"></i>
                        Agregar
                    </a>
                </div>
                <div class="main-botones-det">
                    <a href="#">
                        <i class="bi bi-check2-square"></i>
                        Seleccionar
                    </a>
                </div>
                <div class="main-botones-det">
                    <a href="#">
                        <i class="bi bi-trash3"></i>
                        Eliminar
                    </a>
                </div>



                
                
            </div>

        </div>
    </div>
</div>
