<div class="grid">
  <div class="col-12 md:col-12 lg:col-4 ad-mrg1" style="padding-bottom: 30px;">
    <!-- LOGO -->
    <div class="col-12 md:col-12 lg:col-12 ad-logo">
      <img src="../../../assets/ADCODE-logo.jpg" alt="Descripción de la imagen">
    </div>

    <div class="col-12 md:col-12 lg:col-12">
      <h2>¡Hola otra vez!</h2>
    </div>

    <div class="col-12 md:col-12 lg:col-12">
      <span>Iniciar sesión en su cuenta</span>
    </div>

    <!-- USUARIO -->
    <div style="padding-top: 30px;" class="col-12 md:col-12 lg:col-12">
      <!-- <div class="row"> -->
        <span class="p-fluid">
          <label for="username">Usuario</label>
          <input class="p-inputtext-sm" type="text" pInputText>
        </span>
      <!-- </div> -->
    </div>
    <!-- PASSWORD -->
    <div class="col-12 md:col-12 lg:col-12">
      <!-- <div class="row"> -->
        <span class="p-fluid">
          <label for="username">Contraseña</label>
          <input class="p-inputtext-sm" type="password" pInputText>
        </span>
      <!-- </div> -->
    </div>

    <!-- BUTTON INICIAR SESION -->
    <div style="padding-top: 1.5rem;" class="col-12 md:col-12 lg:col-12">
      <!-- <div class="row"> -->
        <span class="p-fluid" style="padding: 0; margin: 0;">
          <button  pButton type="button" label="Iniciar Sesión" 
                  style="font-weight: 600;" class="ad-cp1"></button>
        </span>
      <!-- </div> -->
    </div>
    
  </div>
  <div class="col-12 md:col-12 lg:col-8">
  
    <div class="col-12 md:col-12 lg:col-12" class="bg-cover">
    </div>
    
  </div>
</div>
