<div class="grid">
  <div class="col-12 md:col-10 lg:col-4" style="margin-bottom: 50px;">
    
    <div class="col-12 md:col-10 lg:col-10"  style="padding: 50px 0px 50px 20px;">
      <img src="../../../assets/ADCODE-logo.jpg" alt="Descripción de la imagen" height="80px;">
    </div>

    <div class="col-12 md:col-12 lg:col-10" style="padding: 0px 0px 0px 50px; margin-top: -20px;" >
      <h1>¡Hola otra vez!</h1>
    </div>

    <div class="col-12 md:col-12 lg:col-10" style="padding: 0px 0px 50px 50px; margin-top: -10px;">
      <span>Sign into your account</span>
    </div>

    <!-- USUARIO -->
    <div class="col-10 md:col-10 lg:col-10" style="padding-bottom: 10px; padding-left: 50px;">
      <!-- <div class="row"> -->
        <span class="p-fluid">
          <label for="username" style="font-weight: 500;">Usuario</label>
          <input class="p-inputtext-sm" type="text" pInputText>
        </span>
      <!-- </div> -->
    </div>
    <!-- PASSWORD -->
    <div class="col-10 md:col-10 lg:col-10" style="padding-bottom: 18px; padding-left: 50px;">
      <!-- <div class="row"> -->
        <span class="p-fluid">
          <label for="username" style="font-weight: 500;">Contraseña</label>
          <input class="p-inputtext-sm" type="password" pInputText>
        </span>
      <!-- </div> -->
    </div>
    <!-- BUTTON INICIAR SESION -->
    <div class="col-10 md:col-10 lg:col-10" style="padding-left: 50px; padding-top: 10px;">
      <!-- <div class="row"> -->
        <span class="p-fluid" style="padding: 0; margin: 0;">
          <button  pButton type="button" label="Iniciar Sesión" 
                  style="margin: 0;" class="full-width-button ad-cp1"></button>
          <!-- <button [style]="TipografiaEstilo" type="button" class="btn btn-primary btn-block">Botón</button> -->
        </span>
      <!-- </div> -->
    </div>
    
  </div>
  <div class="col-12 md:col-12 lg:col-8">
  
    <div class="col-12 md:col-12 lg:col-12" class="bg-cover">
    </div>
    
  </div>
</div>
