/************************FORMULARIO*************************/

*{
    color: #191308;
}

p{
    font-weight: 300;
}




/*MULTI STEP CONTAINER*/
.wrapper-ms{
	width: 100%;
	margin: 50px auto 0;
	padding: 50px;
	border-radius: 5px;
}

.wrapper-ms .header-wrapper{
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
}

.wrapper-ms .header-wrapper ul{
	display: flex;
}

.wrapper-ms .header-wrapper ul li{
	/* margin-right: 20px; */
	position: relative;
}

.wrapper-ms .header-wrapper ul li:last-child{
	margin-right: 0;
}

.wrapper-ms .header-wrapper ul li:before{
	content: "";
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: #B7B3B1;
}

.wrapper-ms .header-wrapper ul li:last-child:before{
	display: none;
}

.wrapper-ms .header-wrapper ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper-ms .header-wrapper ul li p{
	width: 50px;
	height: 50px;
	background: #B7B3B1;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.wrapper-ms .header-wrapper ul li.active:before{
	background: #191308;
}

.wrapper-ms .header-wrapper ul li.active p{
	background: #191308;
}

/*FORM WRAP*/

.wrapper-ms .form_wrap{
	margin-bottom: 35px;
}

.wrapper-ms .form_wrap h2{
	/* color: var(--header-clr); */
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.wrapper-ms .form_wrap .input_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
}

.wrapper-ms .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper-ms .form_wrap .input_wrap .input:focus{
	border-color: #3d7aff;
}

.wrapper-ms .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper-ms .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper-ms .btns_wrap .common_btns button.btn_save{
	background: #191308;
    color: #fff;
    border: 0;
	padding: 12px 15px;
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 2px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper-ms .btns_wrap .common_btns button.btn_back{
	background: #B7B3B1;
    color: #fff;
    border: 0;
	padding: 12px 15px;
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 2px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper-ms .btns_wrap .common_btns button.btn_next{
	background: #3D7BFF;
    color: #fff;
    border: 0;
	padding: 12px 15px;
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 2px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper-ms .btns_wrap .common_btns i{
    color: #fff;
    font-weight: 100;
    font-size: medium;
    display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.wrapper-ms .btns_wrap .common_btns button.btn_next:hover{
	background: #3d7affcb;
}

.wrapper-ms .btns_wrap .common_btns button.btn_back:hover{
	background: #261c15ea;
}

.wrapper-ms .btns_wrap .common_btns button.btn_save:hover{
	background: #191308ea;
}



/*Formulario y componentes*/
.form{
    width: 100%;
}

.form label{
    width: 240px;
	margin-top: 10px;
}

.form input{
    width: 310px;
    min-width: 100%;
    height: 40px;
	border-radius: 2px;
	padding: 10px;
	display: block;
	font-size: 16px;
	transition: 0.5s ease;
}

.form select{
    width: 310px;
    min-width: 100%;
    height: 40px;
	border: 1px solid #ced4da;
	border-radius: 2px;
	padding: 10px;
	display: block;
	font-size: 16px;
	transition: 0.5s ease;
}