<!-- <div class="area"></div><nav class="main-menu">
    <ul>
        <li>
            <a href="/Home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
          
        </li>

        <li class="has-subnav" >
            <a href="/Persona" >
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Persona
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="/SetupMarcacion">
               <i class="fa fa-cog fa-2x"></i>
                <span class="nav-text">
                    Setup Marcación
                </span>
            </a>
        </li>    
    </ul>

    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav> -->
<div class="header-menu border-bottom-menu">
    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-2">
                <div class="logo">
                    <img src="https://i.imgur.com/xRwaXpi.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="menu">
                    <nav>
                        <ul>
                            <li>
                                <a>Home</a>
                            </li>
                            <li>
                                <a>Marcaciones</a>
                            </li>
                            <li>
                                <a>Dashboard</a>
                            </li>
                            <li>
                                <a>Configuraciones</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu-buttons">
                    <button class="start-marcacion">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>

                        Empieza a marcar

                    </button>

                    <div style="display: block;">
                        <div>
                            <button id="my-account-button" class="my-account" onclick="AbrirMenuModal_Function">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>

                                Mi Cuenta
                            </button>
                        </div>
                        <div id="menumodalid" class="menu-modal desactive">
                            <ul>
                                <li>
                                    <a>Inicia Sesión</a>
                                </li>
                                <li>
                                    <a>Inicia Sesión</a>
                                </li>
                                <li>
                                    <a>Inicia Sesión</a>
                                </li>
                                <li>
                                    <a>Inicia Sesión</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>