<div class="container login-main">
	<div class="row">
		<div class="col-md-6">
			<div class="row center-items">
				<div class="col-md-6 center-items">
					<div class="logo">
						<img src="https://i.imgur.com/xRwaXpi.png">
					</div>
				</div>
			</div>
			<div class="row center-items login-header-title">
				<div class="col-md-6 text-center">
					<h2>¡Bienvenido!</h2>
					<p>Estamos felices de volver a verte</p>
				</div>
			</div>
			<div class="row center-items">
				<div class="col-md-6 center-items">
					<form class="form" action="">
						<div class="container-form-input">
							<label>Usuario</label>
							<input type="text" class="form-control" [(ngModel)]="usur.COD"
								[ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="example@gmail.com">
						</div>
					
						<div class="container-form-input">
							<label>Contraseña</label>
							<input type="password" placeholder="Ingresa tu contraseña" class="form-control" [(ngModel)]="usur.PWD" [ngModelOptions]="{standalone: true}"
							>
						</div>

						<div class="login-form-ForgivePass">
							<a target="_blank">¿Olvidaste la contraseña?</a>
						</div>

						<button style="margin-top: 8px;" (click)="GetAcceso()" class="btn_save">Iniciar</button>
						<div>
							&nbsp;
						</div>
					
						
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6 bg-color3 login-block-items">
			<h5>Inicia sesión</h5>
			<p>Coloca tus datos para acceder a la plataforma. Si tienes problemas,<br>
			  comunicate con el administrador o revisa nuestra <a target="_blank" >Guía de uso</a>.
			</p>
			
			<div class="img-cover-login">
				<img src="https://i.imgur.com/Qn4ob6I.jpg">
			</div>
			
		</div>
	</div>
</div>






<!-- <div class="container">
	<div class="row center-items">
		<div class="col-md-6 center-items">
			<div class="logo">
				<img src="https://i.imgur.com/xRwaXpi.png">
			</div>
		</div>
	</div>
	<div class="row center-items login-header-title">
		<div class="col-md-6 text-center">
			<h1>Inicia sesión</h1>
			<p>¡Estamos encantados de volver a verte por aquí!</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row center-items">
		<div class="form col-md-3 center-items">
			<form action="">
				<div class="container-form-input">
					<label>Usuario</label>
					<input type="text" class="form-control" [(ngModel)]="usur.COD"
						[ngModelOptions]="{standalone: true}" aria-describedby="emailHelp">
				</div>
		
				<div class="container-form-input">
					<label>Contraseña</label>
					<input type="password"  class="form-control" [(ngModel)]="usur.PWD" [ngModelOptions]="{standalone: true}"
					>
				</div>
				
				<button style="margin-top: 8px;" (click)="GetAcceso()" class="btn_save">Iniciar</button>
				<div>
					&nbsp;
				</div>
		
				<div class="login-form-ForgivePass">
					<a target="_blank">¿Olvidaste la contraseña?</a>
				</div>
			</form>
		</div>
	</div> 
</div>

<div class="container">
	<div class="row center-items">
		<div class="col-md-6 text-center login-singup">
			<p>¿No tienes una cuenta?</p>
			<a>Sign up</a>
		</div>
	</div>
</div> -->












<!-- <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrate</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Usuario</label>
					<input id="user" type="text" class="input" [(ngModel)]="usur.COD"
                    [ngModelOptions]="{standalone: true}" >
				</div>
				<div class="group">
					<label for="pass" class="label">Contraseña</label>
					<input id="pass" type="password" class="input" [(ngModel)]="usur.PWD" [ngModelOptions]="{standalone: true}" data-type="password">
				</div>
			
				<div class="group">
					<input type="submit" class="button" (click)="GetAcceso()" value="Entrar">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Olvidades tu contraseña?</a>
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
				</div>
			</div>
		</div>
	</div>
</div> -->
