<div class="container">
    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="usur.COD"
                [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Ingresa tu usuario">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="usur.PWD" [ngModelOptions]="{standalone: true}"
            placeholder="Password">
            <small class="form-text text-muted">Distingue mayúsculas y minúsculas.</small>
        </div>

        <button (click)="GetAcceso()" class="btn btn-primary btn-lg btn-block">INICIAR SESIÓN</button>
        <div>
            &nbsp;
        </div>

        <div class="form-group">
            <a><u>¿Olvidaste la contraseña?</u></a>
        </div>
    </form>
</div>