@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
}

.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color1{
    background: #F00000;
}

.bg-color2{
    background: #ff4848;
}

.bg-color3{
    background:#FFFAFA;
}
