h1{
    font-size: 70px;
    font-weight: 700;
    color: #fff;
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color1{
    background: #F00000;
}
.bg-color2{
    background: #ff4848;
}

.bg-color3{
    background:#FFFAFA;
}

.bg-color4{
    background: #261c15;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.bg-color5{
    background: #191308;
    color: #fff;
    font-size: 20px;
    font-weight: 600;  
    letter-spacing: 0.15em; 
}

.bg-gr-cover{
    margin-top: -300px;
    background: linear-gradient(0deg, #FF4848 35.86%, rgba(255, 72, 72, 0) 52.97%);
    text-align: center;
    /* height: 400px; */
}

.bg-gr-cover p{
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.bg-gr-cover a{
    color: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.image-cover{
    background-image: url("../prelogin/images/Portada-AD-MarkingControl.jpg");
    background-repeat:no-repeat; 
    background-size:cover;
    background-position: top;
    height: 500px;
}