<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row image-cover">
            <div class="col-12">
                <h1>Parte1</h1>
            </div> 
        </div>
        <div class="row bg-gr-cover" style="margin-top: -100px;">
            <div class="col-12">
                <h1>LOGO</h1>
            </div>
            <div class="col-12">
                <p>Marca y controla tu asistencia en un solo lugar</p>
            </div>
            <div class="col-12">
                <button type="button" class="btn bg-color4 btn-lg">INICIA SESIÓN </button>
            </div>
        </div>
    </div>
</body>
</html>
