<app-menu></app-menu>

<body [style.background]="colorbody">
    
  <br>
  <br>
  <br>
  

  <div class="container-fluid">

    <div class="space-s"></div>

    <div class="row center-items">
      <div class="col-md-3">
        <div class="col-md-12 center-items hour-text">        
          <h1 class="clock">07:52</h1>
          <span>AM</span>
        </div>
        <div class="col-md-12 margin-top-menos-xs text-center hour-text">
          <p>NO HAS INICIADO TU JORNADA</p>
        </div>
        <div class="col-md-12 center-items padding-top-s hour-text button-marcacion-v1">
          <button (click)="changecolor()">
            <span>Cambiar color<i class="bi bi-play-circle"></i></span>
            
          </button>
        </div>
        <div class="col-md-12 padding-top-l center-items">
          <div class="col-md-12 center-right">
            <a><i class="bi bi-question-circle "></i></a>
          </div>
        </div>
        <div class="col-md-12 center-items">
          <div class="col-md-12 text-right">
            <a><span class="span-ayuda">Ayuda</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="space-m"></div>

  </div>


</body>