<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcación</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-3 text-center center-left">
                        <a><i class="bi bi-chevron-left"></i></a>
                    </div>
                    <div class="col-6 text-center center-items">
                        <h1 class="font-weight-bold">LOGO</h1>
                    </div>
                    <div class="col-3 text-center center-right">
                        <a><i class="bi bi-list"></i></a>
                    </div>
                </div>
            </div>            
        </header>
    </div>
    
    <div class="space-xs">

    </div>

    <div class="container">
        <div class="row center-items">
            <div class="col-3 center-items">        
                <h1 class="clock">07:52</h1>
                <span>AM</span>
            </div>
            <div class="col-12 margin-top-menos-xs text-center">
                <p>NO HAS INICIADO TU JORNADA</p>
            </div>
            <div class="col-3 center-items padding-top-s button-marcacion-v1">
                <a><span>EMPEZAR</span><i class="bi bi-play-circle"></i></a>
            </div>
            <div class="col-12 padding-top-xxl center-items">
                <div class="col-3 center-right">
                    <a><i class="bi bi-question-circle "></i></a>
                </div>
            </div>
            <div class="col-12 center-items">
                <div class="col-3 text-right">
                    <a><span class="span-ayuda">Ayuda</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="space-m">

    </div>

</body>
</html>