body{
    /* background: linear-gradient(to bottom right, #ff4848, #F00000); */
    font-size: .875rem;
}

.hour-text h1{
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
}

.hour-text span{
    padding-top: 30px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
}

.hour-text p{
    font-size: 12px;
    font-weight: 100;   
    color: #ffffff;
}

svg{
  color: #ffffff;
}


i{
  font-size: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.nav-item i{
  color: #191308;
  font-size: 16px;
  padding-left: 5px;
}

.nav-item i:hover, .nav-item i span:hover{
  color: #ff4848;
}



.nav-item i span{
  color: #191308;
  font-size: 14px;
  padding-left: 5px;
}


.span-ayuda{
  color:#ffffff;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Ubuntu';
  cursor: pointer;
}

.padding-top-s{
    padding-top: 20px;
}

.margin-top-menos-xs{
    margin-top: -10px;
}

  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
 