/***********************COLORES*****************************/
.bg-color1{
    background: #F00000;
}

.bg-color2{
    background: #ff4848;
}

.bg-color3{
    background:#FFFAFA;
}

.bg-color4{
    background: #261c15;
}

.bg-color5{
    background: #191308;
}







/******************************COLORES EN TEXTO**********************************/
.text-color1{
    color: #F00000;
}

.text-color2{
    color: #ff4848;
}

.text-color3{
    color:#FFFAFA;
}

.text-color4{
    color: #261c15;
}

.text-color5{
    color: #191308;
}
