/***********************************DIVISORES**************************************/
.space-xs{
    height: 50px;
}

.space-s{
    height: 100px;
}

.space-m{
    height: 200px;
}

.space-l{
    height: 300px;
}

.space-xl{
    height: 400px;
}