
/******************FORMULARIO******************/
/*PLACEHOLDER*/
::-webkit-input-placeholder { 
	color: #261c1550; 
	font-family: 'Clan Pro', sans-serif;
	font-size: 14px;
}

::-moz-placeholder { 
	color: #F9F9F9; 
	font-family: 'Clan Pro', sans-serif;
	font-size: 14px;
}



.form{
    padding-bottom: 86px;
}

.form label{
	font-size: 16px;
	margin-top: -20px;
	font-family: 'Clan Pro', sans-serif;
}

.form input{
	margin-top: -7px;
    width: 297px;
    height: 32px;
	border-radius: 4px;
	transition: 0.5s ease;
	border: solid 1px #A6A6A6;
	font-size: 14px;
}

.form input .input:focus{
	border-color: #3d7aff;
}

.form select{
	margin-top: -7px;
    width: 297px;
    height: 32px;
	border: 1px solid #A6A6A6;
	border-radius: 4px;
	display: block;
	transition: 0.5s ease;
	padding-left: 8px;
	font-size: 14px;
}

select:not(:valid) {
	color: #A6A6A6;
	font-size: 14px;
	font-family: 'Clan Pro', sans-serif;
  }






/************FORMULARIOS DE GUARDADO*************/
.container-form-input{
    padding-bottom: 10px;
}

.title-form{
    padding: 20px 0px;
}

.title-form p{
    margin-top: -10px;
}

.container-form-input input{
    width: 233px;
    height: 39px;
	border-radius: 8px;
	transition: 0.5s ease-in all;
	border: solid 1px #A6A6A6;
	font-size: 14px;
}

.container-form-input label{
	font-size: 16px;
	font-family: 'Clan Pro', sans-serif;
}

.container-form-input button{
    margin-top: 23px;
    width: 233px;
	height: 48px;
	font-size: 18px;
	background: #191308;
    color: #fff;
    border: 0;
	border-radius: 8px;
	cursor: pointer;
	justify-content: center;
	display: flex;
	align-items: center;
	transition: 0.5s ease;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}


 /**/
 .content-help{
    width: 233px;
    height: 291px;
    border-radius: 20px;
	background-image: url("https://i.imgur.com/wqx4Xr0.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 25px;
	display: block;
}



.content-help span{
	color: #fff;
	font-size: 16px;
	font-weight: 100;
	
}

.content-help i{
	color: #fff;
	font-size: 40px;
}

